<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="icon" type="image/png" href="/public/images/favicon.png">
    <link rel='stylesheet' href='/public/stylesheets/main.css'/>
</head>
<body>

</body>
<script src="/public/javascripts/main.js"></script>
</html>